@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Roboto:wght@500&display=swap');
:root{
     --error-color : #f22;
     --success-color : #4e4;
}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     font-family: 'Roboto',sans-serif;
     background: #faf6f9;
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}

.container{
     background: #8ff;
     border-radius: 10px;
     box-shadow: 0 2px 10px 2px #0007;
     width: 400px;
     display: none;
}

.container a{
     text-decoration: none;
     color: #d84f00;
}

.container a:hover{
     color: #ff0000;
}

.container.current{
     display: block;
}

h1{
     font-family: 'Aladin',cursive;
     text-align: center;
     margin-bottom: 20px;
     font-size: 40px;
     letter-spacing: 1px;
     text-transform: capitalize;
}

.form{
     padding: 20px  30px;
}

.form-control{
     margin-bottom: 10px;
     padding-bottom: 20px;
     position: relative;
}

.form-control label{
     display: block;
     margin-bottom: 5px;
     color: #555;
}

.form-control input{
     display: block;
     border-radius: 5px;
     border: 2px solid #999;
     width: 100%;
     padding: 10px;
     font-size: 14px;
     background: #fffb;
}

.form-control input:focus{
     outline: none;
     border-color: #666;
     background: #fff;
}

.form-control.error input{
     border-color: var(--error-color);
}

.form-control.success input{
     border-color: var(--success-color);
}

.form-control small{
     position: absolute;
     bottom: 0;
     left: 0;
     color: var(--error-color);
     visibility: hidden;
}

.form-control.error small{
     visibility: visible;
}

.form button{
     display: inline-block;
     width: 100%;
     padding: 10px;
     border: 2px solid #f40;
     border-radius: 5px;
     background-color: #f40;
     color: #fff;
     font-size: 16px;
     cursor: pointer;
     margin: 10px 0 20px;
     transition: all 0.4s ease-in-out;
}

button:hover{
     background-color: #e40;
     border-color: #e40;
}

button:focus{
     transform: scale(0.99);
}